{% extends "_layout/Base.html" %}


{# 引用公共样式表 #}
{% block globalCss %}
	<link rel="stylesheet" href="{{ static }}/css/main.css?v={{ version }}">
{% endblock %}


{# 加载主导航 #}
{% import "_components/navigator.html" as navigator %}
{# 设置主导航 #}
{%
    set mainNav = [
        {text: '概要统计', url: '###.html'},
        {text: '异常统计', url: '###.html'},
        {text: '盈亏预测', url: '###.html'},
        {text: '融资贷款统计', url: '###.html'},
        {text: '债权支付统计', url: '###.html'}
    ]
%}


{# 公共Dom树 #}
{% block body %}

    {# 加载页面内容 #}
    {% block content %}
    {% endblock %}

{% endblock %}


{# 引用公共 javascript 文件 #}
{% block globalJs %}
<script src="{{ bower_components }}/jquery/dist/jquery.min.js?v={{ version }}"></script>
<script src="{{ static }}/js/echarts.js?v={{ version }}"></script><!--install echarts-->
<script src="{{ static }}/js/vintage.js?v={{ version }}"></script><!--install echarts theme-->
<script src="{{ static }}/js/china.js?v={{ version }}"></script><!--install echarts map of china-->
<script src="{{ static }}/js/common.js?v={{ version }}"></script>
{% endblock %}
