{% extends "_layout/Layout.html" %}


{# 填写页面 title #}
{% block title %}Frontpay Data{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面内容 #}
{% block content %}

    {# 渲染主导航 #}
    {{ navigator.theNav(mainNav,cur='1') }}

    {# 内容 #}
    <div class="main-container">
        <section class="main-container-part1">
            <div class="main-container-part1-top">
                <div class="main-chart-topic">
                    <h1>当日交易总额（元）</h1>
                    <div class="main-chart-topic-values">
                        <div class="value">7</div>
                        <div class="point">,</div>
                        <div class="value">8</div>
                        <div class="value">0</div>
                        <div class="value">5</div>
                        <div class="point">,</div>
                        <div class="value">0</div>
                        <div class="value">0</div>
                        <div class="value">0</div>
                    </div>
                </div>
                <div class="chart-histogram-box">
                    <div id="sliderBox">
                        <dl id="slider_show">
                            <dd class="chart-histogram" id="capital_histogram1" style="z-index: 3;">
                                <h2>当日融资渠道项目</h2>
                                <div class="chart-histogram-main">
                                    <ul>
                                        <li id="histogram_li1"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li2"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li3"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                            <dd class="chart-histogram" id="capital_histogram2" style="opacity: 0;z-index: 2;">
                                <h2>当日债券支付渠道项目</h2>
                                <div class="chart-histogram-main">
                                    <ul>
                                        <li id="histogram_li4"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li5"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li6"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="chart-map-container" id="main">
                </div>
            </div>
            <div class="main-container-part1-bottom" id="capital_data">
                <div class="part1-bottom-left">
                    <ul>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                    </ul>
                </div>
                <div class="part1-bottom-center">
                    <ul>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                    </ul>
                </div>
                <div class="part1-bottom-right">
                    <ul>
                        <li><span></span> <b></b> <span>元</span></li>
                        <li><span></span> <b></b> <span>元</span></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main-container-part2">
            <div class="main-container-part2-top">
                <h2>历史交易总额(万元)</h2>
                <h3>780,500,500</h3>
            </div>
            <div class="main-container-part2-middle">
                <div id="capital_line1"></div>
                <h4 id="capital_line1_title"></h4>
                <p>单位：万元</p>
            </div>
            <div class="main-container-part2-bottom">
                <div id="capital_line2"></div>
                <h4 id="capital_line2_title"></h4>
                <p>单位：万元</p>
            </div>
        </section>
    </div>

{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}


<script src="/static/js/slider.js"></script>
<script>
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'vintage');
    /*myChart.showLoading();
    myChart.hideLoading();*/
    var mapArr = new Array();

    // 指定图表的配置项和数据
    var geoCoordMap = {
        '上海': [121.4648,31.2891],
        '东莞': [113.8953,22.901],
        '东营': [118.7073,37.5513],
        '中山': [113.4229,22.478],
        '临汾': [111.4783,36.1615],
        '临沂': [118.3118,35.2936],
        '丹东': [124.541,40.4242],
        '丽水': [119.5642,28.1854],
        '乌鲁木齐': [87.9236,43.5883],
        '佛山': [112.8955,23.1097],
        '保定': [115.0488,39.0948],
        '兰州': [103.5901,36.3043],
        '包头': [110.3467,41.4899],
        '北京': [116.4551,40.2539],
        '北海': [109.314,21.6211],
        '南京': [118.8062,31.9208],
        '南宁': [108.479,23.1152],
        '南昌': [116.0046,28.6633],
        '南通': [121.1023,32.1625],
        '厦门': [118.1689,24.6478],
        '台州': [121.1353,28.6688],
        '合肥': [117.29,32.0581],
        '呼和浩特': [111.4124,40.4901],
        '咸阳': [108.4131,34.8706],
        '哈尔滨': [127.9688,45.368],
        '唐山': [118.4766,39.6826],
        '嘉兴': [120.9155,30.6354],
        '大同': [113.7854,39.8035],
        '大连': [122.2229,39.4409],
        '天津': [117.4219,39.4189],
        '太原': [112.3352,37.9413],
        '威海': [121.9482,37.1393],
        '宁波': [121.5967,29.6466],
        '宝鸡': [107.1826,34.3433],
        '宿迁': [118.5535,33.7775],
        '常州': [119.4543,31.5582],
        '广州': [113.5107,23.2196],
        '廊坊': [116.521,39.0509],
        '延安': [109.1052,36.4252],
        '张家口': [115.1477,40.8527],
        '徐州': [117.5208,34.3268],
        '德州': [116.6858,37.2107],
        '惠州': [114.6204,23.1647],
        '成都': [103.9526,30.7617],
        '扬州': [119.4653,32.8162],
        '承德': [117.5757,41.4075],
        '拉萨': [91.1865,30.1465],
        '无锡': [120.3442,31.5527],
        '日照': [119.2786,35.5023],
        '昆明': [102.9199,25.4663],
        '杭州': [119.5313,29.8773],
        '枣庄': [117.323,34.8926],
        '柳州': [109.3799,24.9774],
        '株洲': [113.5327,27.0319],
        '武汉': [114.3896,30.6628],
        '汕头': [117.1692,23.3405],
        '江门': [112.6318,22.1484],
        '沈阳': [123.1238,42.1216],
        '沧州': [116.8286,38.2104],
        '河源': [114.917,23.9722],
        '泉州': [118.3228,25.1147],
        '泰安': [117.0264,36.0516],
        '泰州': [120.0586,32.5525],
        '济南': [117.1582,36.8701],
        '济宁': [116.8286,35.3375],
        '海口': [110.3893,19.8516],
        '淄博': [118.0371,36.6064],
        '淮安': [118.927,33.4039],
        '深圳': [114.5435,22.5439],
        '清远': [112.9175,24.3292],
        '温州': [120.498,27.8119],
        '渭南': [109.7864,35.0299],
        '湖州': [119.8608,30.7782],
        '湘潭': [112.5439,27.7075],
        '滨州': [117.8174,37.4963],
        '潍坊': [119.0918,36.524],
        '烟台': [120.7397,37.5128],
        '玉溪': [101.9312,23.8898],
        '珠海': [113.7305,22.1155],
        '盐城': [120.2234,33.5577],
        '盘锦': [121.9482,41.0449],
        '石家庄': [114.4995,38.1006],
        '福州': [119.4543,25.9222],
        '秦皇岛': [119.2126,40.0232],
        '绍兴': [120.564,29.7565],
        '聊城': [115.9167,36.4032],
        '肇庆': [112.1265,23.5822],
        '舟山': [122.2559,30.2234],
        '苏州': [120.6519,31.3989],
        '莱芜': [117.6526,36.2714],
        '菏泽': [115.6201,35.2057],
        '营口': [122.4316,40.4297],
        '葫芦岛': [120.1575,40.578],
        '衡水': [115.8838,37.7161],
        '衢州': [118.6853,28.8666],
        '西宁': [101.4038,36.8207],
        '西安': [109.1162,34.2004],
        '贵阳': [106.6992,26.7682],
        '连云港': [119.1248,34.552],
        '邢台': [114.8071,37.2821],
        '邯郸': [114.4775,36.535],
        '郑州': [113.4668,34.6234],
        '鄂尔多斯': [108.9734,39.2487],
        '重庆': [107.7539,30.1904],
        '金华': [120.0037,29.1028],
        '铜川': [109.0393,35.1947],
        '银川': [106.3586,38.1775],
        '镇江': [119.4763,31.9702],
        '长春': [125.8154,44.2584],
        '长沙': [113.0823,28.2568],
        '长治': [112.8625,36.4746],
        '阳泉': [113.4778,38.0951],
        '青岛': [120.4651,36.3373],
        '韶关': [113.7964,24.7028]
    };
    var GZData1, GZData2, GZData3, GZData4;
    var mapAjax = function () {
        $.ajax({//动态数据获取
            type: "get",
            async: false, //同步执行
            url: "http://localhost:8671/map.json",
            dataType: "json",
            success: function (result) {
              var mapDataStr = result.mapData;
              for(var i = 0; i < mapDataStr.length; i++) {
                mapArr[i] = mapDataStr[i];
              }
            },
            error: function (errorMsg) {
              alert("当日融资渠道项目数据请求失败！");
            }
        });
    };
    mapAjax();



    var GZData1 = [
        [{name:'广州'},{name:'福州',value:95}],
        [{name:'广州'},{name:'太原',value:90}],
        [{name:'广州'},{name:'长春',value:80}],
        [{name:'广州'},{name:'重庆',value:70}],
    ];
    var GZData2 = [
        [{name:'广州'},{name:'西安',value:60}],
        [{name:'广州'},{name:'成都',value:50}],
        [{name:'广州'},{name:'北京',value:30}],
        [{name:'广州'},{name:'海口',value:10}],
    ];
    var GZData3 = [
        [{name:'广州'},{name:'上海',value:95}],
        [{name:'广州'},{name:'大连',value:80}],
        [{name:'广州'},{name:'包头',value:70}],
        [{name:'广州'},{name:'昆明',value:60}],
    ];
    var GZData4 = [
        [{name:'广州'},{name:'拉萨',value:50}],
        [{name:'广州'},{name:'连云港',value:40}],
        [{name:'广州'},{name:'深圳',value:20}],
        [{name:'广州'},{name:'乌鲁木齐',value:50}]
    ];
    var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
            var dataItem = data[i];
            var fromCoord = geoCoordMap[dataItem[1].name];
            var toCoord = geoCoordMap[dataItem[0].name];
            if (fromCoord && toCoord) {
                res.push([{
                    coord: fromCoord
                }, {
                    coord: toCoord
                }]);
            }
        }
        return res;
    };

    /*var dataLen = function (data) {
        var datacolor = [];
        for (var i = 0; i < data.length; i++) {
            color[i];
            if (color[i] == undefined || color[i] == "") {
                color[i] = color[0];
            }
            datacolor[i] = color[i]
        }
        alert(datacolor);
        return datacolor;
    };*/

    var color = ['#ff8106','#53c697', '#5d97fe','#e06484'];
    var series = [];
    //mapArr = [['充值', GZData1],['提现', GZData2],['融资通过的申请', GZData3],['信用支付', GZData4]];
    mapArr.forEach(function (item, i) {
        series.push(
            {//迁移运动线条
                name: item[0],
                type: 'lines',
                zlevel: 3,
                effect: {
                    show: true,
                    period: 4,
                    trailLength: 0.5,
                    color: color[i],
                    shadowBlur : 3,
                    symbolSize: 5
                },
                lineStyle: {
                    normal: {
                        color: color[i],
                        width: 0,
                        curveness: 0.2,
                    }
                },
                label: {
                    show: false
                },
                data: convertData(item[1])
            },
            /*{//迁移线条
                name: item[0],
                type: 'lines',
                zlevel: 2,
                effect: {
                    show: false,
                    period: 6,//动画时间
                    trailLength: 0,
                    symbol: 'pin',
                    symbolSize: 11
                },
                lineStyle: {
                    normal: {
                        color: color[i],
                        //color: dataLen(item[1]),
                        width: 2,
                        opacity: 1,
                        curveness: 0.2
                    }
                },
                data: convertData(item[1])
            },*/
            {//城市原点及名称
                name: item[0],
                type: 'effectScatter',
                coordinateSystem: 'geo',
                zlevel: 2,
                rippleEffect: {
                    scale: 3.5,
                    brushType: 'stroke'//波纹的填充方式
                },
                label: {
                    normal: {
                        show: false,
                        position: 'right',
                        formatter: '{b}'
                    }
                },
                symbolSize: function (val) {
                    return val[2] / 8;
                },
                itemStyle: {
                    normal: {
                        color: color[i]
                    }
                },
                data: item[1].map(function (dataItem) {
                    return {
                        name: dataItem[1].name,
                        value: geoCoordMap[dataItem[1].name].concat([dataItem[1].value])
                    };
                })
            });
    });

    var option = {
        backgroundColor: 'transparent',
        /*title : {
            left: 'center',
            top:'5%',
            textStyle : {
                color: '#fff',
            }
        },*/
        tooltip : {
            trigger: 'item',
        },
        legend: {
            orient: 'vertical',
            left: 'right',
            bottom: 50,
            align: 'left',
            itemWidth: 10,
            itemHeight: 10,
            data:['充值','提现','融资通过的申请','信用支付'],
            textStyle: {
                color: '#666',
                fontSize: 12
            },
            selectedMode: 'multiple'
        },
        geo: {
            map: 'china',
            scaleLimit: {
                min: 1.22,
                max: 1.22
            },
            left: '12%',
            top: '1%',
            label: {
                emphasis: {
                    show: false
                }
            },
            roam: false,
            itemStyle: {
                normal: {
                    areaColor: '#d1dce2',
                    opacity: 0.6,
                    borderColor: '#527187'
                },
                emphasis: {
                    areaColor: '#89acc8',
                    opacity: 0.6,
                }
            }
        },
        series: series
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
<script>//折线统计图-资产池留存资金
  var lineChart1 = echarts.init(document.getElementById('capital_line1'));
  var seriesLineXData = new Array();
  var seriesLineYData = new Array();
  var seriesTitle;
  var doAjax1 = function () {
      $.ajax({//动态数据获取
         type: "get",
         async: false, //同步执行
         url: "http://localhost:8671/lineChart1.json",
         dataType: "json",
         success: function (result) {
            //console.log("-------454: "+JSON.stringify(result)+"\n");
            var dataStr = result.lineChart1[0].dataStr;
            for(var i = 0; i < dataStr.length; i++) {
                seriesLineXData[i] = dataStr[i].day;
                seriesLineYData[i] = dataStr[i].capital;
            }
            //seriesTitle = result.lineChart1[0].title;
            document.getElementById("capital_line1_title").innerText = result.lineChart1[0].title;
         },
         error: function (errorMsg) {
            alert("资产池留存资金数据请求失败！");
         }
      });
  };
  var lineoption1 = {
    title: {
        show: false,
        /*text: seriesTitle,
        textStyle: {
            color: '#fff',
            fontWeight: 'lighter',
            fontSize: 22
        },
        left: '16px',
        borderColor: '#ff7e00',*/
        //borderWidth: 3
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:['资产池留存资金',]
    },
    grid: {
        left: '16px',
        right: '16px',
        bottom: '16px',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            splitLine : {show: false},
            axisLabel : {show: true,textStyle:{color: '#fff'}},
            axisLine : {lineStyle:{color: '#86cbf5'}},
            axisTick : {lineStyle:{color: '#86cbf5'}},
            //data : ['1','3','5','7','9','11','13','15','17','19','21']
            data : seriesLineXData
        }
    ],
    yAxis : [
        {
            type : 'value',
            splitLine : {show: true,lineStyle: {color: '#86cbf5',opacity: 0.3}},
            axisLabel : {show: true,textStyle:{color: '#fff'}},
            axisLine : {lineStyle:{color: '#86cbf5'}},
            axisTick : {lineStyle:{color: '#86cbf5'}}
        }
    ],
    series : [
        {
            name:'留存资金总额',
            type:'line',
            stack: '总量',
            itemStyle: {normal: {color: '#bbefff'}},
            lineStyle: {normal: {color: '#86cbf5'}},
            areaStyle: {normal: {color: '#8ed4ff',opacity: 0.5}},
            //data:[68000, 75000, 90000, 70000, 75000, 70000, 65000, 75000, 80000, 72000, 65000]
            data: seriesLineYData
        }
    ]
  };
  doAjax1();
  lineChart1.setOption(lineoption1);
  var timeTicket = setInterval(function () {
      doAjax1();
      lineChart1.setOption(lineoption1);
  }, 1000);
</script>
<script>//折线统计图-交易金额
  var lineChart2 = echarts.init(document.getElementById('capital_line2'));
  var seriesLineXData1 = new Array();
  var seriesLineYData1 = new Array();
  var seriesLineYData2 = new Array();
  var seriesTitle2;
  var doAjax2 = function () {
      $.ajax({//动态数据获取
         type: "get",
         async: false, //同步执行
         url: "http://localhost:8671/lineChart2.json",
         dataType: "json",
         success: function (result) {
            var dataStr2 = result.lineChart2[0].dataStr;
            for(var i = 0; i < dataStr2.length; i++) {
                seriesLineXData1[i] = dataStr2[i].day;
                seriesLineYData1[i] = dataStr2[i].recharge_cap;
                seriesLineYData2[i] = dataStr2[i].withdraw_cap;
            }
            //seriesTitle2 = result.lineChart2[0].title;
            document.getElementById("capital_line2_title").innerText = result.lineChart2[0].title;
         },
         error: function (errorMsg) {
            alert("交易金额数据请求失败！");
         }
      });
  };


  var lineoption2 = {
    title: {
        show: false,
        /*text: seriesTitle2,
        textStyle: {
            color: '#fff',
            fontWeight: 'lighter',
            fontSize: 22
        },
        left: '16px',
        borderColor: '#ff7e00',*/
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        align: 'left',
        itemGap: 12,
        itemWidth: 8,
        itemHeight: 8,
        right: '100px',
        top: '0px',
        orient: 'horizontal',
        textStyle: {color: '#fff',fontSize: 10},
        data: [
            {name: '充值',icon: 'rect'},
            {name: '提现',icon: 'rect'}
        ]
    },
    grid: {
        left: '16px',
        right: '16px',
        bottom: '16px',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            boundaryGap : false,
            nameTextStyle : {color: '#fff'},
            splitLine : {show: true,lineStyle: {color: '#bee5ff',opacity: 0.3}},
            axisLabel : {show: true,textStyle:{color: '#fff'}},
            axisLine : {lineStyle:{color: '#86cbf5',opacity: 0.3}},
            axisTick : {show:false},
            //data : ['1','3','5','7','9','11','13','15','17','19','21']
            data : seriesLineXData1
        }
    ],
    yAxis : [
        {
            type : 'value',
            splitLine : {show: true,lineStyle: {color: '#bee5ff',opacity: 0.3}},
            axisLine : {lineStyle:{color: '#86cbf5',opacity: 0.3}},
            axisTick : {show:false},
            axisLabel : {show: true,textStyle:{color: '#fff'}},
        }
    ],
    series : [
        {
            name:'充值',
            type:'line',
            itemStyle: {normal: {color: '#4ac492'}},
            lineStyle: {normal: {color: '#4ac492'}},
            areaStyle: {normal: {color: '#4ac492',opacity: 0.5}},
            //data:[90000, 88000, 85000, 75000, 78000, 68000, 64000, 62000, 58000, 59000, 52000]
            data: seriesLineYData1 
        },
        {
            name:'提现',
            type:'line',
            itemStyle: {normal: {color: '#53abec'}},
            lineStyle: {normal: {color: '#53abec'}},
            areaStyle: {normal: {color: '#53abec',opacity: 0.5}},
            //data:[50000, 58000, 62000, 68000, 75000, 70000, 66000, 70000, 80000, 95000, 96000]
            data: seriesLineYData2
        }
    ]
  };
  doAjax2();
  lineChart2.setOption(lineoption2);
  var timeTicket = setInterval(function () {
      doAjax2();
      lineChart2.setOption(lineoption2);
  }, 1000);
</script>
<script>//柱状图-当日融资渠道项目(自定义)

  var maxPeakVal = 0;
  function id(x) {
      if (typeof x == "string") return document.getElementById(x);
      return x;
  }
  function histogramFn(peak_val, cur_val, li_id, li_name) {
      //console.log("-------724--maxPeakVal: "+maxPeakVal+" peak_val: "+peak_val+" cur_val: "+cur_val);

      var liId = id(li_id);
      var barBox = liId.getElementsByTagName('div')[0], liSp = liId.getElementsByTagName('span')[0];
      var bar = barBox.getElementsByTagName('a')[0], barBy = barBox.getElementsByTagName('a')[1], barP = barBox.getElementsByTagName('p')[0];

      var barBoxW = barBox.offsetWidth;
      var str_cur = parseFloat(cur_val).toLocaleString();

      if (maxPeakVal < peak_val && peak_val > cur_val) {maxPeakVal = peak_val;}
      else if(maxPeakVal < peak_val && peak_val < cur_val) {maxPeakVal = cur_val;}
      if (str_cur == undefined) {
        liSp.innerText = " ";
      } else{
        liSp.innerText = li_name;
      }
      if (str_cur == 0 || str_cur == "" || str_cur == undefined) {
        barP.innerText = 0;
      } else{
        barP.innerText = str_cur;
      }

      if(peak_val > cur_val) {//比较 峰值/当前值
        console.log("----738:  "+peak_val+" / "+cur_val+"\n\n");

        bar.style.width = cur_val/maxPeakVal * barBoxW + "px";
        barBy.style.left = cur_val/maxPeakVal * barBoxW + "px";
        barBy.style.width = 0;
        bar.title = cur_val + "元";
        barBy.title = cur_val-peak_val + "元";
      } else if (peak_val < cur_val) {
        console.log("----743:  "+peak_val+" / "+cur_val+"\n\n");

        if (cur_val > maxPeakVal) {maxPeakVal = cur_val;}
        bar.style.width = peak_val/maxPeakVal * barBoxW + "px";
        barBy.style.left = peak_val/maxPeakVal * barBoxW + "px";
        barBy.style.width = (maxPeakVal-peak_val)/maxPeakVal * barBoxW + "px";
        bar.title = peak_val + "元";
        barBy.title = maxPeakVal-peak_val + "元";
      } else {
        console.log("----751:  "+peak_val+" / "+cur_val+"\n\n");

        bar.style.width = peak_val/maxPeakVal * barBoxW + "px";
        barBy.style.left = peak_val/maxPeakVal * barBoxW + "px";
        barBy.style.width = (cur_val-peak_val)/maxPeakVal * barBoxW + "px";
        bar.title = peak_val + "元";
        barBy.title = cur_val-peak_val + "元";
      }

      return maxPeakVal;
  }

  var doAjax3 = function () {
      $.ajax({//动态数据获取
         type: "get",
         async: false, //同步执行
         url: "http://localhost:8671/histogram.json",
         dataType: "json",
         success: function (result) {
            var dataStr3 = result.histogram[0].dataStr;
            for(var i = 0, j = 1; i < dataStr3.length; i++,j++) {
                //histogramFn(dataStr3[0].peak_val, dataStr3[i].cur_val, "histogram_li"+j ,dataStr3[i].name);
                histogramFn(12000, dataStr3[i].cur_val, "histogram_li"+j ,dataStr3[i].name);
            }

            var dataStr4 = result.histogram[1].dataStr;
            for(var i = 0, j = 4; i < dataStr4.length; i++,j++) {
                //histogramFn(dataStr4[0].peak_val, dataStr4[i].cur_val, "histogram_li"+j ,dataStr4[i].name);
                histogramFn(10100, dataStr4[i].cur_val, "histogram_li"+j ,dataStr4[i].name);
            }
         },
         error: function (errorMsg) {
            alert("当日融资渠道项目数据请求失败！");
         }
      });
  };
  doAjax3();
  var timeTicket = setInterval(function () {
      //doAjax3();
  }, 1000);
</script>
<script>//页面底部-具体数据
  function capitalDataFn(div_id, name, capital_val, i) {
      var divId = id(div_id);
      var tag_li = divId.getElementsByTagName('li')[i];
      var tag_sp1 = tag_li.getElementsByTagName('span')[0];
      var tag_b = tag_li.getElementsByTagName('b')[0];

      var capital_str = parseFloat(capital_val).toLocaleString();
      if (capital_str == undefined) {
        tag_b.innerText = " ";
      } else{
        tag_b.innerText = capital_str;
      }

      tag_sp1.innerText = name;
  }
  var doAjax4 = function () {
      $.ajax({//动态数据获取
         type: "get",
         async: false, //同步执行
         url: "http://localhost:8671/capital_data.json",
         dataType: "json",
         success: function (result) {
            var dataStr4 = result.capital_data;
            for(var i = 0; i < dataStr4.length; i++) {
                capitalDataFn(capital_data, dataStr4[i].name, dataStr4[i].capital_val, i);
            }
         },
         error: function (errorMsg) {
            alert("当日融资渠道项目数据请求失败！");
         }
      });
  };
  doAjax4();
  var timeTicket = setInterval(function () {
      doAjax4();
  }, 1000);
</script>
{% endblock %}