{% extends "_layout/Layout.html" %}


{# 填写页面 title #}
{% block title %}Frontpay Data{% endblock %}


{# 页面专有样式表地址 #}
{% block css %}
{% endblock %}


{# 编写页面内联 css 代码 #}
{% block stylePage %}
<style>
</style>
{% endblock %}


{# 加载页面内容 #}
{% block content %}

    {# 渲染主导航 #}
    {{ navigator.theNav(mainNav,cur='1') }}

    {# 内容 #}
    {% raw %}
    <div class="main-container">
        <section class="main-container-part1">
            <div class="main-container-part1-top">
                <div class="main-chart-topic">
                    <h1>当日交易总额（元）</h1>
                    <div class="main-chart-topic-values" id="todayTotal"></div>
                </div>
                <div class="chart-histogram-box">
                    <div id="sliderBox">
                        <dl id="slider_show">
                            <dd class="chart-histogram" id="capital_histogram1">
                                <h2>当日债券支付渠道项目</h2>
                                <div class="chart-histogram-main">
                                    <ul>
                                        <li id="histogram_li1"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li2"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li3"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                            <dd class="chart-histogram" id="capital_histogram2">
                                <h2>当日融资渠道项目</h2>
                                <div class="chart-histogram-main">
                                    <ul>
                                        <li id="histogram_li4"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li5"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                        <li id="histogram_li6"><span></span><div class="chart-histogram-bar-box">
                                                <a class="chart-histogram-bar"></a>
                                                <a class="chart-histogram-bar-beyond"></a>
                                                <p></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="chart-map-container" id="main" ms-controller="map">
                </div>
            </div>
            <!-- <div class="main-container-part1-bottom" id="capital_data" ms-controller="capital">
                <div class="part1-bottom-capital">
                    <ul>
                        <li ms-repeat="datacapital"><div class="part1-bottom-capital-div"><span>{{el.name}}</span> <b>{{el.capital_val}}</b> <span>元</span></div></li>
                    </ul>
                </div>
            </div> -->
            <div class="main-container-part1-bottom" id="capital_data">
                <div class="part1-bottom-left">
                    <ul>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                    </ul>
                </div>
                <div class="part1-bottom-center">
                    <ul>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                    </ul>
                </div>
                <div class="part1-bottom-right">
                    <ul>
                        <li><span></span> <div></div> <span></span></li>
                        <li><span></span> <div></div> <span></span></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="main-container-part2">
            <div class="main-container-part2-top">
                <h2>历史交易总额(万元)</h2>
                <div class="numAnim">
                    <div class="numAnim_cur"><div class="anim_cur" id="historyTotal"><!-- 780500500 --></div></div>
                </div>
            </div>
            <div class="main-container-part2-middle">
                <div id="capital_line1"></div>
                <h4 id="capital_line1_title"></h4>
                <p>单位：万元</p>
            </div>
            <div class="main-container-part2-bottom">
                <div id="capital_line2"></div>
                <h4 id="capital_line2_title"></h4>
                <p>单位：万元</p>
            </div>
        </section>
    </div>
    {% endraw %}
{% endblock %}


{# 页面专有 javascript 文件地址 #}
{% block js %}
{% endblock %}


{# 编写页面内联 javascript 代码 #}
{% block jsPage %}
<script src="/static/js/avalon.modern.js"></script>
<script src="/static/js/scroller.min.js"></script>
<script src="/static/js/common.js"></script>

{% endblock %}